<!DOCTYPE html>
<html lang="es">
<head>

<meta charset="UTF-8">

<title>Evo Fitsor</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header>

<div class="logo">

<img src="{{ url_for('static', filename='images/logo.png') }}">

<h2>Evo Fitsor</h2>

</div>

</header>

<div class="container">

<div class="card">

<h1>Generador Fitness</h1>

<form action="/generate" method="POST">

<label>Edad</label>
<input type="number" name="edad" required>

<label>Sexo</label>

<select name="sexo" required>
<option>Masculino</option>
<option>Femenino</option>
</select>

<label>Peso (kg)</label>
<input type="number" name="peso" required>

<label>% Grasa Corporal</label>
<input type="number" name="grasa" required>

<label>Objetivo</label>

<select name="objetivo" required>

<option value="bajar_grasa">
Bajar Grasa
</option>

<option value="ganar_musculo">
Ganar Músculo
</option>

<option value="recomposicion">
Recomposición Corporal
</option>

</select>

<button type="submit">
Generar Plan
</button>

</form>

</div>

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>